 {% comment %}
  <div class="newsletter_section">

    <div class="container">
      <!-- newsletter
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control input" placeholder="email address">
                    <button type="submit" class="button outline-btn newsletter">Submit</button>
                </div>
            </form>
        </div>-->
    </div>

  </div>
  {% endcomment %}
    <div class="container">
        <div class="top_footer">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="logo-footer"><img id="logo-footer" src="/assets/images/mesibo-logo.svg" alt=""></div>
                    <p class="mt-0 pt-0">{{ site.slogan }}</p>
                    <p>A real-time communication platform that lets you build real-time text messaging, voice and video chats in your mobile apps and websites.</p>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="footer-content">
						<h2 class="title">Mesibo</h2>
						<div class="separator-2"></div>
						<nav>
						  <ul class="mb-20 nav flex-column list-style-icons">
							<li class="nav-item"><a class="nav-link" href="/"><i class="fa fa-home"></i> Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/pricing/"><i class="fa fa-dollar"></i> Pricing</a></li>
							<li class="nav-item"><a class="nav-link" href="/use-cases/"><i class="fa fa-lightbulb-o"></i> Use Cases</a></li>
							<li class="nav-item"><a class="nav-link" href="/about-us/"><i class="fa fa-users"></i> About Us</a></li>
							<li class="nav-item"><a class="nav-link" href="/career/"><i class="fa fa-graduation-cap"></i> Careers</a></li>
						  </ul>
						</nav>
                   </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="footer-content">
						<h2 class="title">Documentation</h2>
						<div class="separator-2"></div>
						<nav>
						  <ul class="mb-20 nav flex-column list-style-icons">
							<li class="nav-item"><a class="nav-link" href="/documentation/"><i class="fa fa-book"></i> Docs Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/documentation/get-started/"><i class="fa fa-rocket"></i> Get Started</a></li>
							<li class="nav-item"><a class="nav-link" href="/documentation/install/"><i class="fa fa-download"></i> Install Mesibo</a></li>
							<li class="nav-item"><a class="nav-link" href="/documentation/tutorials/"><i class="fa fa-pencil-square-o"></i> Tutorials</a></li>
							<li class="nav-item"><a class="nav-link" href="/documentation/faq/"><i class="fa fa-question"></i> FAQs</a></li>
							<li class="nav-item"><a class="nav-link" href="/documentation/source-code/"><i class="fa fa-code"></i> Source Code</a></li>
						  </ul>
						</nav>
                    </div>
                </div>
				<div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="footer-content">
						<h2 class="title"><i class="fa fa-envelope-o pr-10"></i>Contact Us</h2>
						<div class="separator-2"></div>
						<ul class="list">
						  <li><a href="/sales/">Sales/Partnership</a></li>
						  <li><a href="/technical-support/">Technical Support</a></li>
						  <li><a href="/custom-solutions/">Custom Solutions</a></li>
						</ul>
						<ul class="social-links circle animated-effect-1">
							<li class="twitter"><a href="https://twitter.com/mesiboapi" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li class="linkedin"><a href="https://www.linkedin.com/company/mesibo" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							<li class="youtube"><a href="https://www.youtube.com/channel/UCxpcg-RSf2-lK4uyysWSsKQ" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
							<li class="facebook"><a href="https://www.facebook.com/mesiboapi" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li class="github"><a href="https://github.com/mesibo/" target="_blank"><i class="fa fa-github"></i></a></li>
						</ul>
                    </div>
                </div>
            </div>
            <div class="footer-nav">
                <nav class="footer_sub_nav">
                    <ul class="menu">
                        <li><a href="https://mesibo.com/terms-of-use/#terms">Terms-of-Service</a></li>
                        <li><a href="https://mesibo.com/terms-of-use/#privacy">Privacy Policy</a></li>
                        <li><a href="https://mesibo.com/help/">Contact</a></li>
					 </ul>
                </nav>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-8">
                <p class="copyright">Copyright &copy; 2019 Mesibo. All rights reserved.</p>
            </div>
            <div class="footer_social_nav col-xs-12 col-md-4">
                <p class="text-right">
                  <a href="/terms-of-use/">Terms &amp; Privacy Policy</a></p>
            </div>
        </div>
    </div>
