  {% comment %}
  <div class="newsletter_section">

    <div class="container">
      <!-- newsletter
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control input" placeholder="email address">
                    <button type="submit" class="button outline-btn newsletter">Submit</button>
                </div>
            </form>
        </div>-->
    </div>

  </div>
  {% endcomment %}
    <div class="container">
        <div class="top_footer">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
					<br>
                    <div class="logo-footer"><img id="logo-footer" src="/assets/images/mesibo-logo.svg" alt=""></div>
                    <p class="mt-0 pt-0">{{ site.slogan }}</p>
                    <p>A real-time communication platform that lets you build real-time text messaging, voice and video chats in your mobile apps and websites.</p>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
						<h3 class="title">Mesibo</h3>
						<div class="separator-2"></div>
						<nav>
						  <ul class="footer_links list-style-icons">
							<li class="nav-item"><a class="nav-link" href="/" target="_blank"><i class="fa fa-home"></i> Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/on-premise/" target="_blank"><i class="fa fa-server"></i> On-Premise</a></li>
							<li class="nav-item"><a class="nav-link" href="/pricing/" target="_blank"><i class="fa fa-dollar"></i> Pricing</a></li>
							<li class="nav-item"><a class="nav-link" href="/use-cases/" target="_blank"><i class="fa fa-lightbulb-o"></i> Use Cases</a></li>
							<li class="nav-item"><a class="nav-link" href="/about-us/" target="_blank"><i class="fa fa-users"></i> About Us</a></li>
							<li class="nav-item"><a class="nav-link" href="/career/" target="_blank"><i class="fa fa-graduation-cap"></i> Careers</a></li>
						  </ul>
						</nav>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
						<h3 class="title">Documentation</h3>
						<div class="separator-2"></div>
						<nav>
						  <ul class="footer_links list-style-icons">
							<li class="nav-item"><a class="nav-link" href="/documentation/"><i class="fa fa-book"></i> Docs Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/documentation/get-started/"><i class="fa fa-rocket"></i> Get Started</a></li>
							<li class="nav-item"><a class="nav-link" href="/documentation/install/"><i class="fa fa-download"></i> Install Mesibo</a></li>
							<li class="nav-item"><a class="nav-link" href="/documentation/tutorials/"><i class="fa fa-pencil-square-o"></i> Tutorials</a></li>
							<li class="nav-item"><a class="nav-link" href="/documentation/faq/"><i class="fa fa-question"></i> FAQs</a></li>
							<li class="nav-item"><a class="nav-link" href="/documentation/source-code/"><i class="fa fa-code"></i> Source Code</a></li>
						  </ul>
						</nav>
                </div>
				<div class="col-xs-12 col-sm-3 col-md-3">
						<h3 class="title"><i class="fa fa-envelope-o pr-10"></i> Contact Us</h3>
						<div class="separator-2"></div>
						<ul class="footer_links list">
						  <li><a href="/sales/" target="_blank">Sales/Partnership</a></li>
						  <li><a href="/technical-support/" target="_blank">Technical Support</a></li>
						  <li><a href="/custom-solutions/" target="_blank">Custom Solutions</a></li>
						</ul>
						<div class="footer_social_nav" style="float:none;">
							<ul class="nav-social">
								<li class="fa fa-twitter"><a target="_blank" href="https://twitter.com/mesiboapi">Twitter</a></li>
								<li class="fa fa-linkedin"><a target="_blank" href="https://www.linkedin.com/company/mesibo">Linkedin</a></li>
								<li class="fa fa-youtube"><a target="_blank" href="https://www.youtube.com/channel/UCxpcg-RSf2-lK4uyysWSsKQ">Youtube</a></li> 
								<li class="fa fa-facebook"><a target="_blank" href="https://www.facebook.com/mesiboapi">Facebook</a></li>
								<li class="fa fa-github"><a target="_blank" href="https://github.com/mesibo/samples">Github</a></li>
							</ul>
						</div>
                </div>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-8">
                <p class="copyright">Copyright &copy; 2019 Mesibo. All rights reserved.</p>
            </div>
            <div class="footer-copyright col-xs-12 col-md-4">
                <p class="copyright text-right">
                  <a href="/terms-of-use/">Terms &amp; Privacy Policy</a></p>
            </div>
        </div>
    </div>
