  {% comment %}
  <div class="newsletter_section">

    <div class="container">
      <!-- newsletter
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control input" placeholder="email address">
                    <button type="submit" class="button outline-btn newsletter">Submit</button>
                </div>
            </form>
        </div>-->
    </div>

  </div>
  {% endcomment %}
    <div class="container">
        <div class="top_footer">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><a href="https://mesibo.com/">Home</a></li>
                        <li><a href="https://mesibo.com/pricing/">Pricing</a></li>
                        <li><a href="https://mesibo.com/use-cases/">Use Cases</a></li>
                        <li><a href="https://mesibo.com/custom-solutions/">Custom Solutions</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><a href="https://mesibo.com/documentation/faq/">FAQ</a></li>
                        <li><a href="https://mesibo.com/help/">Support</a></li>
                        <li class="break"><a href="https://stackoverflow.com/questions/ask">Community</a></li>
                        <li><a href="https://mesibo.com/documentation/">Documentation</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><a href="https://mesibo.com/help/">Contact</a></li>
                        <li><a href="https://mesibo.com/career/">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-nav">
                <nav class="footer_sub_nav">
                    <ul class="menu">
                        <li><a href="https://mesibo.com/terms-of-use/#terms">Terms-of-Service</a></li>
                        <li><a href="https://mesibo.com/terms-of-use/#privacy">Privacy Policy</a></li>
                        <li><a href="https://mesibo.com/help/">Contact</a></li>
					 </ul>
                </nav>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-8">
                <p class="copyright">
                    Copyright &copy; 2019 Mesibo. All rights reserved. </p>
            </div>
            <div class="footer_social_nav">
                <ul class="nav-social">
                    <li class="fa fa-twitter"><a target="_blank" href="https://twitter.com/mesiboapi">Twitter</a></li>
                    <li class="fa fa-youtube"><a target="_blank" href="https://www.youtube.com/channel/UCxpcg-RSf2-lK4uyysWSsKQ">Youtube</a></li>
                    <li class="fa fa-google-plus"><a target="_blank" href="https://plus.google.com/b/107106343719610600541/107106343719610600541">Google</a></li>
                    <li class="fa fa-github"><a target="_blank" href="https://github.com/mesibo/samples">Github</a></li>
                    <li class="fa fa-linkedin"><a target="_blank" href="https://www.linkedin.com/company/mesibo">Linkedin</a></li>
                    <li class="fa fa-facebook"><a target="_blank" href="https://www.facebook.com/mesiboapi">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
