<!-- banner start -->
<!-- ================ -->
<div class="banner clearfix">

<!-- slideshow start -->
<!-- ================ -->
<div class="slideshow" style="height:480px; overflow:hidden;">

<!-- slider revolution start -->
<!-- ================ -->
<div class="slider-revolution-5-container">
<div id="slider-banner-fullwidth-features" class="slider-banner-fullwidth-hero rev_slider" data-version="5.0">
<ul class="slides">
<!-- slide 1 start -->
<!-- ================ -->
<li class="text-center" data-transition="crossfade" data-slotamount="default" data-masterspeed="default" data-title="">

	<!-- main image -->
	<img src="images/slide-1.jpg" alt="slidebg1" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

	<!-- Transparent Background -->
	<div class="tp-caption default-bg"
	data-x="center"
	data-y="center"
	data-start="0"
	data-transform_in="opacity:0;s:600;e:Power2.easeInOut;"
	data-transform_out="opacity:0;s:600;s:300;"
	data-width="5000"
	data-height="5000">
	</div>

				<!-- LAYER NR. 1 -->
				<div class="tp-caption large_white tp-resizeme"
				data-x="center"
				data-y="30"
				data-voffset="50"
				data-start="100"
				data-width="88%"
				data-transform_idle="o:1;"
				data-transform_in="y:[-100%];opacity:0;s:1100;"
				data-transform_out="y:[-100%];opacity:0;s:800;">
				Quick Glance at mesibo Chat API features
				</div>

				<!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme"
                  data-x="center"
                  data-y="70"
                  data-start="100"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                  <div class="separator light"></div>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white tp-resizeme"
                  data-x="center"
                  data-y="100"
                  data-start="100"
				  data-width="92%"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Refer to our developer documentation for in-depth details on how to quickly add any or <br>all of these features in your own software, either by using our APIs or ready to use UI components
                </div>
			
			    <!-- LAYER NR. 4 -->
                <div class="tp-caption medium_white"
                  data-x="80"
                  data-y="210"
                  data-start="200"
				  data-width="270"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"><a href="#chat"><span class="icon circle large"><i class="fa fa-comments-o large"></i></span><br>Messaging & Group Chat</a>
                </div>

				<!-- LAYER NR. 5 -->
                <div class="tp-caption medium_white"
                  data-x="center"
                  data-y="210"
                  data-start="400"
				  data-width="270"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"><a href="#calls"><span class="icon circle large"><i class="fa fa-video-camera large"></i></span><br>Voice & Video Call</a>
                </div>

				<!-- LAYER NR. 6 -->
                <div class="tp-caption medium_white"
                  data-x="770"
                  data-y="210"
                  data-start="600"
				  data-width="270"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"><a href="#onpremises"><span class="icon circle large"><i class="fa fa-server large"></i></span><br>On-Premise Deployment</a>
                </div>

				<!-- LAYER NR. 7 -->
                <div class="tp-caption"
                  data-x="center"
                  data-y="385"
                  data-voffset="90"
                  data-start="1000"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <a href="#chat" class="btn radius-50 btn-default default-bg btn-animated btn-lg smooth-scroll">Many More <i class="fa fa-arrow-down"></i></a>
                </div>

 
</li>
<!-- slide 1 end -->
</ul>
</div>
<div id="banner-end"></div>
</div>
<!-- slider revolution end -->

</div>
<!-- slideshow end -->

</div>
<!-- banner end -->

