      <!-- banner start -->
      <!-- ================ -->
      <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">

          <!-- slider revolution start -->
          <!-- ================ -->
          <div class="slider-revolution-5-container">
            <div id="slider-banner-fullwidth" class="slider-banner-fullwidth rev_slider" data-version="5.0">
              <ul class="slides">
                <!-- slide 1 start -->
                <!-- ================ -->
                <li data-transition="crossfade" data-slotamount="default" data-masterspeed="default" data-title="Messaging, Voice and Video Calls">

                <!-- main image -->
                <!-- <img src="images/corporate-1-slider-slide-1.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg"> -->

                <!-- Transparent Background dark-translucent-bg -->
                <div class="tp-caption default-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:200;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:200;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="left"
                  data-y="110"
                  data-start="500"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><h1>Real-time Messaging, Voice and Video Calls</h1>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme"
                  data-x="left"
                  data-y="170"
                  data-start="650"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                    <div class="separator-2 light"></div>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white"
                  data-x="left"
                  data-y="180"
                  data-start="650"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><h4>Add real-time Messaging, Voice and Video Calls <br> to your apps in no time.</h4>
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption small_white"
                  data-x="left"
                  data-y="260"
                  data-start="900"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><a href="#what" class="btn radius-50 btn-default default-bg btn-animated btn-lg">Explore Platform <i class="fa fa-arrow-down"></i></a> <span class="pl-1 pr-1">&nbsp;</span> <a href="https://www.youtube.com/watch?v=imHA4kBRSH0" class="popup-iframe btn radius-50 btn-info btn-animated btn-lg margin-clear">Watch Video <i class="fa fa-youtube-play pl-10"></i></a>

                </div>

                </li>
                <!-- slide 1 end -->

                <!-- slide 2 start -->
                <!-- ================ -->
                <li data-transition="fade" data-slotamount="default" data-masterspeed="default" data-title="Scalable to billions">

                <!-- main image -->
                <!-- <img src="images/corporate-1-slider-slide-2.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg"> -->

                <!-- Transparent Background dark-translucent-bg -->
                <div class="tp-caption default-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:200;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:200;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="left"
                  data-y="110"
                  data-start="500"
                  data-width="650"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Scalable to billions
                </div>

                <!-- LAYER NR. 2 -->
		<!--
                <div class="tp-caption large_white tp-resizeme hidden-sm-down"
                  data-x="left"
                  data-y="150"
                  data-start="650"
                  data-width="500"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                    <div class="separator light"></div>
                </div>
		-->
                <div class="tp-caption large_white tp-resizeme"
                  data-x="left"
                  data-y="170"
                  data-start="650"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                    <div class="separator-2 light"></div>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white hidden-sm-down"
                  data-x="left"
                  data-y="180"
                  data-start="650"
                  data-width="750"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Reliably scale your app for billions of users with<br/> Mesibo's carrier grade platform.
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption small_white text-center"
                  data-x="left"
                  data-y="260"
                  data-start="900"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><a href="#what" class="btn radius-50 btn-default default-bg btn-animated btn-lg">Explore Platform <i class="fa fa-arrow-down"></i></a> <span class="pl-1 pr-1">&nbsp;</span> <a href="https://www.youtube.com/watch?v=imHA4kBRSH0" class="popup-iframe btn radius-50 btn-info btn-animated btn-lg margin-clear">Watch Video <i class="fa fa-youtube-play pl-10"></i></a>
                </div>

                </li>
                <!-- slide 2 end -->
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

      </div>
      <!-- banner end -->

