<!-- banner start -->
<!-- ================ -->
<div class="banner clearfix">

<!-- slideshow start -->
<!-- ================ -->
<div class="slideshow">

<!-- slider revolution start -->
<!-- ================ -->
<div class="slider-revolution-5-container">
<div id="slider-banner-fullscreen-hero" class="slider-banner-fullscreen-hero rev_slider" data-version="5.0">
<ul class="slides">
<!-- slide 1 start -->
<!-- ================ -->
<li class="text-center" data-transition="crossfade" data-slotamount="default" data-masterspeed="default" data-title="Slide Title">

<!-- main image -->
<img src="images/landing-page-2-banner.jpg" alt="slidebg1" data-bgposition="center bottom" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

<!-- Transparent Background -->
<div class="tp-caption default-bg"
data-x="center"
data-y="center"
data-start="0"
data-transform_in="opacity:0;s:600;e:Power2.easeInOut;"
data-transform_out="opacity:0;s:600;s:300;"
data-width="5000"
data-height="5000">
</div>

<!-- LAYER NR. 1 -->
<div class="tp-caption large_white hidden-sm-down"
data-x="left"
data-y="center"
data-voffset="50"
data-start="0"
data-end="4500"
data-width="500"
data-transform_idle="o:1;"
data-transform_in="y:[-100%];opacity:0;s:1100;"
data-transform_out="y:[-100%];opacity:0;s:800;"
><img data-ww="600px" data-hh="451px" src="images/section-image-1.png" alt="">
</div>

<!-- LAYER NR. 2 -->
<div class="tp-caption large_white hidden-sm-down"
data-x="left"
data-y="center"
data-voffset="50"
data-start="4550"
data-end="8700"
data-width="500"
data-transform_idle="o:1;"
data-transform_in="y:[100%];opacity:0;s:1100;"
data-transform_out="y:[100%];opacity:0;s:800;"
><img data-ww="600px" data-hh="451px" src="images/section-image-2.png" alt="">
</div>

<!-- LAYER NR. 3 -->
<div class="tp-caption large_white hidden-sm-down"
data-x="left"
data-y="100"
data-voffset="50"
data-start="100"
data-width="500"
data-transform_idle="o:1;"
data-transform_in="y:[-100%];opacity:0;s:50;"
data-transform_out="y:[-100%];s:800;"
><img data-ww="600px" data-hh="451px" src="/images/on-premise.png" alt="">
</div>

<!-- LAYER NR. 4 -->
<div class="tp-caption large_white"
data-x="[right,right,center,center]"
data-y="[100,240,240,240]"
data-fontsize="[42,42,36,28]"
data-start="200"
data-width="[500,500,full,full]"
data-hoffset="30"
data-transform_idle="o:1;"
data-transform_in="y:[-100%];opacity:0;s:1200;e:Power4.easeInOut;"
data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
>{{ include.title }} 
</div>

<!-- LAYER NR. 5 -->
<div class="tp-caption large_white tp-resizeme hidden-md-down"
data-x="[right,right,center,center]"
data-y="150"
data-start="200"
data-width="500"
data-hoffset="30"
data-transform_idle="o:1;"
data-transform_in="y:[-100%];opacity:0;s:2000;e:Power4.easeInOut;"
data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;">
<div class="separator with-icon light"><i class="fa {{ include.icon }} bordered"></i></div>
</div>

<!-- LAYER NR. 6 -->
<div class="tp-caption medium_white"
data-x="[right,right,center,center]"
data-y="250"
data-start="200"
data-width="[500,500,750,430]"
data-fontsize="[24,24,18,16]"
data-hoffset="30"
data-whitespace="normal"
data-transform_idle="o:1;"
data-transform_in="y:[-100%];opacity:0;s:1200;e:Power4.easeInOut;"
data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
data-mask_in="x:0px;y:[-100%];s:inherit;e:inherit;"
data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">{{ include.subtitle }}
</div>

<!-- LAYER NR. 7 -->
<div class="tp-caption"
data-x="[right,right,center,center]"
data-y="470"
data-start="800"
data-width="[500,500,full,full]"
data-hoffset="30"
data-transform_idle="o:1;"
data-transform_in="y:[-100%];opacity:0;s:1200;e:Power4.easeInOut;"
data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
data-mask_in="x:0px;y:[-100%];s:inherit;e:inherit;"
data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><a href="#banner-end" class="btn radius-50 btn-default default-bg btn-animated btn-lg">Learn More<i class="fa fa-arrow-down"></i></a> <span class="pl-1 pr-1">&nbsp;</span> <a href="{{ include.url_r }}" class="btn radius-50 btn-info btn-animated btn-lg margin-clear">{{ include.button_r }} <i class="fa {{ include.icon_r }} pl-10"></i></a>
</div>

<!-- LAYER NR. 8 -->
<div class="tp-caption"
data-x="center"
data-y="bottom"
data-voffset="-100"
data-start="10000"
data-transform_idle="o:1;"
data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
<a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i></a>
</div>
</li>
<!-- slide 1 end -->
</ul>
</div>
<div id="banner-end"></div>
</div>
<!-- slider revolution end -->

</div>
<!-- slideshow end -->

</div>
<!-- banner end -->

