<div class="sidebar">
<div class="block clearfix mt-3">
<h3 class="title">Blog Topics</h3>
<div class="separator-2"></div>
  <nav>
     <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="/blog/blog-post-1/">Blog 1 </a></li>
        <li class="nav-item"><a class="nav-link" href="blog-2.html">Blog 2 <span class="badge">v1</span></a></li>
        <li class="nav-item"><a class="nav-link" href="blog-3.html">Blog 3 </a></li>
        <li class="nav-item"><a class="nav-link" href="blog-4.html">Blog 4 </a></li>
        <li class="nav-item"><a class="nav-link" href="blog-5.htmll">Blog 5 </a></li>
     </ul>
  </nav>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="/blog/">Read More Blog </a></li>
	</ul>
  <nav>
  </nav>
</div>
</div><!-- Blog sidebar end -->