<!-- Send Data section -->
<div id="arbitrary"></div> <div id="chatbots"></div>
<section class="dark-translucent-bg pv-40" >
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 text-center">
<div class="pv-30 hc-item-box text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
<span class="icon default-bg large circle"><i class="fa fa-signal"></i></span>
<h3>Send Arbitrary Binary/Signaling Data</h3>
<div class="separator clearfix"></div>
<p class="large">Send any arbitrary binary/raw data in real-time. e.g., an Uber rider sending a cab request or WebRTC endpoints sending SDPs are examples of what all you can do with Mesibo.</p>
</div></div>		
<div class="col-lg-6 col-md-6 text-center">
<div class="pv-30 hc-item-box text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
<span class="icon default-bg large circle"><i class="fa fa-reddit-alien"></i></span>
<h3>AI chatbots & Machine Learning interface</h3>
<div class="separator clearfix"></div>
<p class="large">Mesibo provides real-time Messaging interface to Machine Learning tools like TensorFlow, Matlab, Octave, NumPy, DialogFlow to create powerful AI chatbots.</p>
</div></div>
</div>
</div>
</section>

<!-- Send Data section end -->