<!-- section start -->
<!-- ================ -->
<!-- <section class="dark-translucent-bg pv-30" style="background-image:url(images/page-services-banner.jpg);"> -->
<section class="dark-translucent-bg pv-30" >
<div class="container">
<div class="row justify-content-md-center">
<div class="col-md-8">
<h2 class="text-center mt-4">Documentation & Source Code</h2>
<div class="separator"></div>
<p class="large text-center">Mesibo documentation is a great place to go to dive into the details of Mesibo Platform, API, tutorials and more.</p>
</div>
</div>
<div class="row">
<div class="col-lg-4">
<div class="pv-30 hc-item-box text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
<span class="icon default-bg circle"><i class="fa fa-rocket"></i></span>
<h3>Get Started Guides</h3>
<div class="separator clearfix"></div>
<p class="doc-box">Start with Mesibo concepts - how it works, various features and key elements of mesibo. This is the first place to get started with Mesibo.</p>
<a class="btn btn-gray-transparent radius-50 btn-animated" href="/documentation/" target="_blank">Read More <i class="fa fa-angle-double-right"></i></a>
</div>
</div>
<div class="col-lg-4">
<div class="pv-30 hc-item-box text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
<span class="icon default-bg circle"><i class="fa fa-pencil-square-o"></i></span>
<h3>Tutorials</h3>
<div class="separator clearfix"></div>
<p class="doc-box">Mesibo hands-on tutorials including one on the design and implementation of a commercially deployable WhatsApp like app having real-time messaging, voice and video communication.</p>
<a class="btn btn-gray-transparent radius-50 btn-animated" href="/documentation/tutorials/" target="_blank">Read More <i class="fa fa-angle-double-right"></i></a>
</div>
</div>
<div class="col-lg-4">
<div class="pv-30 hc-item-box text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
<span class="icon default-bg circle"><i class="fa fa fa-code"></i></span>
<h3>Source Code</h3>
<div class="separator clearfix"></div>
<p class="doc-box">The entire source code of Mesibo Android and iOS Apps is on GitHub. You can download entire source code, and customize it to suit your needs.</p>
<a class="btn btn-gray-transparent radius-50 btn-animated" href="/documentation/source-code/" target="_blank">Read More <i class="fa fa-angle-double-right"></i></a>
</div>
</div>
</div>
</div>
</section>
<!-- section end -->
