<!-- section -->
<!-- ================ -->
<div id="platforms" style="margin-top: -30px; content: '';">&nbsp;</div>
<section class="section clearfix">
<div class="container">
<div class="row">
<div class="">
<!--
<div id="text-rotator-text" class="mt-4 text-rotator-text d-none">
<p>Mesibo Messaging</p>
<p>Mesibo Voce and Video calls</p>
<p>Mesibo Group chat</p>
<p>Mesibo Notifications</p>
</div>
-->
<!-- <h3 id="text-rotator" class="d-inline-block text-rotator" style="min-height: 40px;"></h3> -->
<h2 class="mt-4">Supported <strong>Platforms</strong></h2>
<div class="separator-2"></div>
<p>
Mesibo supports almost all popular platforms and languages for you to build your applications quickly. Whether you are developing mobile apps (Android, iOS, Java, Objective-C, C++), web apps (Javascript), integrating with backend (Linux, macOS, Windows, Python, C++) or creating cool devices using Raspberry PI, mesibo has APIs for you.
</p>

<div class="container">
<div class="clients-container">
<div class="clients">
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="100">
<img src="assets/images/platform/android-logo.png" alt="Android">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="200">
<img src="assets/images/platform/ios.png" alt="iOS">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="300">
<img src="assets/images/platform/linux.png" alt="Linux">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="400">
<img src="assets/images/platform/windows-logo.png" alt="Windows">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="400">
<img src="assets/images/platform/raspberry_96.png" alt="Raspberry Pi">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="600">
<img src="assets/images/languages/java.png" alt="">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="600">
<img src="assets/images/languages/objectivec.png" alt="">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="600">
<img src="assets/images/languages/cpp.png" alt="">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="500">
<img src="assets/images/languages/js.png" alt="">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="600">
<img src="assets/images/languages/python.png" alt="">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="600">
<img src="assets/images/languages/php.png" alt="">
</div>
</div>
</div>
</div>

<!-- <h4 class="title">Scientific Computing Interface</h4> -->
<h4 class="title">Machine Learning / AI Interface</h4>
<p>
Mesibo's high-performance C++ and Python libraries enable you to interface your chat clients with various scientific computing and machine learning systems on your backend like TensorFlow, Matlab, Octave, NumPy etc to create powerful chat experience. So, whether you are deploying machine learning or Natural Language Processing (NLP) backend for your apps, a Data Scientist crunching big numbers or a geeky professor publishing lab results on your custom app - we've got you covered.
</p>

<!--
<div class="container">
<div class="clients-container">
<div class="clients">
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="700">
<img src="assets/images/languages/tensorflow.png" alt="">>
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="800">
<img src="assets/images/languages/matlab.png" alt="">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="800">
<img src="assets/images/languages/numPy.png" alt="">
</div>
</div>
</div>
</div>
-->

<a href="/documentation/install/" class="btn btn-default-transparent btn-animation btn-animation--slide-horizontal btn-lg"><i class="fa fa-users pr-2"></i>Download Mesibo SDK</a>
</div>
<div class="">
<!--
<h2 class="mt-4">&nbsp;</h2>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/imHA4kBRSH0"></iframe>
</div>
-->
</div>
</div>
</div>
<br>
</section>
<!-- section end -->

