<!-- section start -->
<!-- ================ -->
<div id="why" class="pv-40">
<div class="container">
<!-- 
<h2 class="text-center mt-4">mesibo - at a glance</h2> 
<div class="container">
<h3 class="mt-4">WHY <strong>MESIBO</strong>?</h3>
<div class="separator-2"></div>
<p>
Over 79% of all modern apps need some form of communication - whether you are building a messaging app like WhatsApp, a dating app like Tinder, a ride sharing app like Uber or a customer support chatbot. Mesibo makes it easy to add reliable real-time communication in your apps. 
</p>
<div class="row" style="min-height: 150px;">
<div class="col-lg-6">
-->
<h2 class="text-center mt-4">Everything you need to Build Real-time Apps</h2>
<div class="separator"></div>
<p style="margin-bottom: 30px;">
Over 79% of all modern apps need some form of communication - whether you are building a messaging app like WhatsApp, a dating app like Tinder, a ride sharing app like Uber or a customer support chatbot. Mesibo makes it easy to add reliable real-time communication in your apps. 
</p>

<div class="row mt-20">
<div class="col-lg-6">
<div class="hc-item-box-2 right">
<span class="icon without-bg"><i class="text-default fa fa-envelope"></i></span>
<div class="body">
<h4 class="title">In-app Messaging and Chat API</h4>
<p>
Adding in-app messaging in your apps using Mesibo's API is as simple as selecting the destination and sending the message. You also get the status of each sent message in real-time; e.g., Sent, Delivered, Read, etc. 
</p>
<div class="separator-3"></div>
</div>
</div>
<div class="hc-item-box-2 right">
<span class="icon without-bg"><i class="text-default fa fa-group"></i></span>
<div class="body">
<h4 class="title">Group Messaging API</h4>
<p>
Group messaging has changed the way we communicate and keep in touch with family and like-minded people. Mesibo group messaging APIs allows you to add group messaging in your apps. 
</p>
<div class="separator-3"></div>
</div>
</div>
<div class="hc-item-box-2 right">
<span class="icon without-bg"><i class="text-default fa fa-video-camera"></i></span>
<div class="body">
<h4 class="title">Video and Voice Calls API</h4>
<p>
Mesibo makes it easy to add high-quality, low latency video and voice calls in your apps. Download SDK, add a few lines of code and your apps will be able to send and receive calls.
</p>
<div class="separator-3"></div>
</div>
</div>
<div class="hc-item-box-2 right">
<span class="icon without-bg"><i class="text-default fa fa-signal"></i></span>
<div class="body">
<h4 class="title">Send Arbitrary Binary/Signaling Data</h4>
<p>
Send any arbitrary binary/raw data in real-time. e.g., an Uber rider sending a cab request or WebRTC endpoints sending SDPs are examples of what all you can do with Mesibo.
</p>
<!-- <div class="separator-3"></div> -->
</div>
</div>
</div>
<div class="col-lg-6">
<div class="hc-item-box-2">
<span class="icon without-bg"><i class="text-default fa fa-server"></i></span>
<div class="body">
<h4 class="title">On-Premise Deployment</h4>
<p>
Download entire Mesibo platform and run it from your own data-center or private cloud for ultimate control over your user data &amp; privacy. All messages and calls route through your own data-center.
</p>
<div class="separator-2"></div>
</div>
</div>
<div class="hc-item-box-2">
<span class="icon without-bg"><i class="text-default fa fa-lock"></i></span>
<div class="body">
<h4 class="title">Security and Encryption</h4>
<p>
Mesibo messages and calls are end-to-end encrypted. You can even add your own encryption and key exchange mechanism, e.g., Double Ratchet Algorithm.
</p>
<div class="separator-2"></div>
</div>
</div>
<div class="hc-item-box-2">
<span class="icon without-bg"><i class="text-default fa fa-cube"></i></span>
<div class="body">
<h4 class="title">Ready to use UI Modules</h4>
<p>
Mesibo not only provides APIs but also offers ready-to-use UI modules for Messaging, chatbots, voice and video calls which you can customize to your needs. 
</p>
<div class="separator-2"></div>
</div>
</div>
<div class="hc-item-box-2">
<span class="icon without-bg"><i class="text-default fa fa-life-ring"></i></span>
<div class="body">
<h4 class="title">AI chatbots & Machine Learning interface</h4>
<p> 
Mesibo provides real-time Messaging interface to Machine Learning tools like TensorFlow, Matlab, Octave, NumPy, DialogFlow to create powerful AI chatbots.
</p>
<!-- <div class="separator-2"></div> -->
</div>
</div>
</div>
</div>
</div>
</div>
<!-- section end -->
