<!-- section start -->
<!-- ================ -->
<div id="why" class="pv-40">
<div class="container">
<!-- 
<h2 class="text-center mt-4">mesibo - at a glance</h2> 
<div class="container">
<h3 class="mt-4">WHY <strong>MESIBO</strong>?</h3>
<div class="separator-2"></div>
<p>
Over 79% of all modern apps need some form of communication - whether you are building a messaging app like WhatsApp, a dating app like Tinder, a ride sharing app like Uber or a customer support chatbot. Mesibo makes it easy to add reliable real-time communication in your apps. 
</p>
<div class="row" style="min-height: 150px;">
<div class="col-lg-6">
-->
<h2 class="text-center mt-4">Why Mesibo On-Premise Platform?</h2>
<div class="separator"></div>
<p style="margin-bottom: 30px;">
Mesibo On-Premise has to be your ONLY CHOICE, if you are CONCERNED about your business or user Data. and if you need assurance with stringent data compliance and privacy requirements.  Cambridge Analytica, other recent data breaches make the ownership and control of user data a MUST for most businesses
</p>

<div class="row mt-20">
<div class="col-lg-6">
<div class="hc-item-box-2 right">
<span class="icon without-bg"><i class="text-default fa fa-lock"></i></span>
<div class="body">
<h4 class="title">Complete Control Over Your Data</h4>
<p>
All the messages and calls route through your own servers and saved in your own database. So unlike other services, Mesibo On-Premise gives you ultimate control and conformance to stringent data compliance and privacy requirements (GDPR, HIPAA, etc.).
</p>
<div class="separator-3"></div>
</div>
</div>
<div class="hc-item-box-2 right">
<span class="icon without-bg"><i class="text-default fa fa-gear"></i></span>
<div class="body">
<h4 class="title">Quick to Deploy - No API changes</h4>
<p>
You can deploy the entire mesibo platform on your own premises or private cloud in less than 60 minutes. <br/>There are no changes in APIs and all your existing users can be automatically redirected to your On-Premise server with just the click of a button.
</p>
<div class="separator-3"></div>
</div>
</div>
<div class="hc-item-box-2 right">
<span class="icon without-bg"><i class="text-default fa fa-server"></i></span>
<div class="body">
<h4 class="title">Host it Anywhere</h4>
<p>
Host it anywhere - in your private data cneter, Amazon aws, Google Cloud, Microsoft Azure, Alibaba cloud, etc. You can even run it alongside your webserver. Mesibo On-Premise platform is distributed as a docker image so that you can run it on almost all the hosting providers.
</p>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="hc-item-box-2">
<span class="icon without-bg"><i class="text-default fa fa-dollar"></i></span>
<div class="body">
<h4 class="title">At No Additional Cost</h4>
<p>
All of these at no additional cost - you only pay for the number of active users per month, that's it! No monthly commitment, no bandwidth charges, no storage charges, or any other hidden charges. This makes On-Premise even more economical than our cloud offering.
</p>
<div class="separator-2"></div>
</div>
</div>
<div class="hc-item-box-2">
<span class="icon without-bg"><i class="text-default fa fa-code"></i></span>
<div class="body">
<h4 class="title">Extendible Developer-Friendly Architecture</h4>
<p>
Mesibo On-Premise is designed “by developers for developers”. Its dynamically loadable modular architecture lets you load your own code for deeper integration with your infrastructure, enabling you with unlimited creative possibilities. This makes mesibo, the most compelling real-time communication platform existing today.
</p>
<div class="separator-2"></div>
</div>
</div>
<div class="hc-item-box-2">
<span class="icon without-bg"><i class="text-default fa fa-life-ring"></i></span>
<div class="body">
<h4 class="title">Auto Fallback to Cloud</h4>
<p> 
If required, you can configure Mesibo cloud as a fallback option in case your data-center has issues. You always have the option of falling back to Mesibo Cloud Services, with just the click of a button.
</p>
<!-- <div class="separator-2"></div> -->
</div>
</div>
</div>
</div>
</div>
</div>
<!-- section end -->
