<!-- section -->
<!-- ================ -->
<div id="customers" style="margin-top: -50px; content: '';">&nbsp;</div>
<section class="pv-30 light-gray-bg padding-bottom-clear">
<div class="container">
<div class="row justify-content-md-center">
<div class="col-lg-8">
<h2 class="text-center mt-4">Trusted By Fortune 500 And Startups</h2>
<div class="separator"></div>
<p class="large text-center">Mesibo is equally trusted by Fortune 500 companies and innovative startups - over 2000 apps and backend solutions are using Mesibo to power their real-time communication needs.</p>
<br>
</div>
</div>
</div>
<div class="space-bottom">
<div class="container">
<div class="clients-container">
<div class="clients">
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="100" style="width:150px; height:150px;">
<img src="assets/images/clients/client-1.jpg" alt="">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="200" style="width:150px; height:150px;">
<img src="assets/images/clients/client-2.jpg" alt="">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="300" style="width:150px; height:150px;">
<img src="assets/images/clients/client-3.jpg" alt="">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="400" style="width:150px; height:150px;">
<img src="assets/images/clients/client-4.jpg" alt="">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="500" style="width:150px; height:150px;">
<img src="assets/images/clients/client-5.jpg" alt="">
</div>
<div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="600" style="width:150px; height:150px;">
<img src="assets/images/clients/client-7.jpg" alt="">
</div>
</div>
</div>
</div>
</div>
</section>
<!-- section end -->

