<!-- section start -->
<!-- ================ -->
<div class="pv-40">
<div class="container">
<h2 class="text-center mt-4">Of Course We Also Provide</h2>
<div class="separator"></div>
<div class="row mt-20">
<div class="col-lg-6">
<div class="hc-item-box-2 right">
<span class="icon without-bg"><i class="text-default fa fa-arrows-alt"></i></span>
<div class="body">
<h4 class="title">Responsive Design</h4>
<p>Our design is with responsive in mind. Our themes are compatible with various desktop, tablet, and mobile devices.</p>
<div class="separator-3"></div>
</div>
</div>
<div class="hc-item-box-2 right">
<span class="icon without-bg"><i class="text-default fa fa-bullhorn"></i></span>
<div class="body">
<h4 class="title">Inve et ita</h4>
<p>Our design is with responsive in mind. Our themes are compatible with various desktop, tablet, and mobile devices.</p>
<div class="separator-3"></div>
</div>
</div>
<div class="hc-item-box-2 right">
<span class="icon without-bg"><i class="text-default fa fa-umbrella"></i></span>
<div class="body">
<h4 class="title">Labore et dolore magna aliqua</h4>
<p>Our design is with responsive in mind. Our themes are compatible with various desktop, tablet, and mobile devices.</p>
<div class="separator-3"></div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="hc-item-box-2">
<span class="icon without-bg"><i class="text-default fa fa-snowflake-o"></i></span>
<div class="body">
<h4 class="title">Lorem dolor sit</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
<div class="separator-2"></div>
</div>
</div>
<div class="hc-item-box-2">
<span class="icon without-bg"><i class="text-default fa fa-cogs"></i></span>
<div class="body">
<h4 class="title">Unt in culpa qui</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
<div class="separator-2"></div>
</div>
</div>
<div class="hc-item-box-2">
<span class="icon without-bg"><i class="text-default fa fa-star-o"></i></span>
<div class="body">
<h4 class="title">Quis harum</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
<div class="separator-2"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- section end -->
