<!-- banner start -->
<!-- ================ dark-translucent-bg -->
<div class="banner default-bg" style="padding-top: 30px; padding-bottom: 30px;">

{% if page.breadcrump == true %}
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
	<div class="container">
	<ol class="breadcrumb">
	<li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="index.html">Home</a></li>
	<li class="breadcrumb-item active">{{ page.title }} </li>
	</ol>
	</div>
</div>
<!-- breadcrumb end -->
{% endif %}

<div class="container">
<div class="row justify-content-lg-center">
<div class="col-lg-8 text-center pv-20">
    {% if page.heading %}
	<h2 class="title">{{ page.heading }}</h2>
    {% else %}
	<h2 class="title">{{ page.title }}</h2>
    {% endif %}

	<div class="separator mt-10"></div>
	<p class="text-center">{{ page.subtitle }}</p>
</div>
</div>
</div>
</div>
<!-- banner end -->

