<div class="card">
<div class="card-header" role="tab" id="heading{{ include.name }}">
<h4 class="mb-0">
<a id="feature_{{ include.name }}" {% if include.collapsed == true %} class="accheader collapsed" {% else %} class="accheader" {% endif %} group="{{ include.group }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ include.name }}" aria-expanded="{% if include.collapsed == true %}false{% else %}true{% endif %}" aria-controls="collapse{{ include.name }}">
<i class="fa {{ include.icon }}  pr-10"></i>{{ include.title }}
</a>
</h4>
</div>
<div id="collapse{{ include.name }}" group="{{ include.group }}" class="collapse {% if include.collapsed != true %}show{% endif %}" role="tabpanel" aria-labelledby="heading{{ include.name }}">
<div class="card-block" style="min-height: 120px;">
{{ include.content }}
</div>
</div>
</div>
