<!-- realtime section -->
<div id="analytics"></div> <div id="security"></div> <div id="moderation"></div> <div id="scalable"></div>
<section class="pv-40" >
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 text-center">
<div class="pv-30 hc-item-box text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
<span class="icon default-bg circle"><i class="fa fa-line-chart"></i></span>
<h3>Real-time Analytics</h3>
<div class="separator clearfix"></div>
<p>Mesibo platform allows to  collect information from across your App and API usage and monitor in real-time. The main advantage is to monitor real-time where improvements are needed and the usages of messages, voice and video calls.</p>
</div>
</div>
<div class="col-lg-3 col-md-3 text-center">
<div class="pv-30 hc-item-box text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
<span class="icon default-bg circle"><i class="fa fa-lock"></i></span>
<h3>Security & Encryption</h3>
<div class="separator clearfix"></div>
<p>Mesibo messages and calls are end-to-end encrypted. You can even add your own encryption and key exchange mechanism, e.g., Double Ratchet Algorithm.</p>
</div>
</div>
<div class="col-lg-3 col-md-3 text-center">
<div class="pv-30 hc-item-box text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
<span class="icon default-bg circle"><i class="fa fa-filter"></i></span>
<h3>Filtering & Moderation</h3>
<div class="separator clearfix"></div>
<p>Download entire Mesibo platform and run it from your own data-center or private cloud for ultimate control over your user data & privacy. All messages and calls route through your own data-center.</p>
</div>
</div>
<div class="col-lg-3 col-md-3 text-center">
<div class="pv-30 hc-item-box text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
<span class="icon default-bg circle"><i class="fa fa-rocket"></i></span>
<h3>Scalable</h3>
<div class="separator clearfix"></div>
<p>Mesibo's carrier-grade platform supports millions of simultaneous connections at low latency and high reliability. You can scale your apps to millions of users from the day one.</p>
</div>
</div>
</div>
</div>
</section>

<!-- realtime section end -->