<!-- video section -->
<!-- ================ -->
<div id="calls"></div>
<section class="light-gray-bg border-clear v-30">
<div class="container">
<div class="row justify-content-md-center">
<div class="col-lg-8">
<h2 class="text-center mt-4">Voice and Video Calls</h2>
<div class="separator"></div>
<p class="large text-center">
Mesibo makes it easy to add high-quality, low latency video and voice calls in your apps. Download SDK, add a few lines of code and your apps will be able to send and receive calls.
</p>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-6">
<br><br>
<ul class="list-icons mt-3">
<li><i class="fa fa-mobile"></i>1 on 1 Video Call</li>
<li><i class="fa fa-group"></i> Group / Conference Call</li>
<li><i class="fa fa-bullhorn"></i> Voice & Video Broadcast</li>
<li><i class="fa fa-dot-circle-o"></i> Call Recording</li>
<li><i class="fa fa-video-camera"></i> HD quality video calls</li>
<li><i class="fa fa-support"></i> Platform native SDKs for Android, iOS and Web</li>
<li><i class="fa fa-toggle-down"></i> Push Notification</li>
</ul>
</div>
<div class="col-lg-6 text-center">
<img src="/assets/images/voice-video-calls2.png" alt="voice and video calls" width="72%" style="align:center;" /> 
</div>
</div>
</div>
</section>

<!-- video section end -->