<!-- premises section -->
<div id="onpremises"></div> <div id="cloud"></div>
<section class="default-bg pv-40" >
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 text-center">
<div class="pv-30 hc-item-box text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
<span class="icon large circle"><i class="fa fa-server"></i></span>
<h3>On-Premise Deployment</h3>
<div class="separator clearfix"></div>
<p class="large">Download entire Mesibo platform and run it from your own data-center or private cloud for ultimate control over your user data & privacy. All messages and calls route through your own data-center.</p>
<a target="_blank" href="/on-premise/" class="btn btn-animated radius-50 btn-gray-transparent">Read More<i class="fa fa-angle-double-right pl-20"></i></a>
</div></div>		
<div class="col-lg-6 col-md-6 text-center">
<div class="pv-30 hc-item-box text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
<span class="icon large circle"><i class="fa fa-mixcloud"></i></span>
<h3>Carrier Grade Cloud Infrastructure</h3>
<div class="separator clearfix"></div>
<p class="large">Ingetrate mesibo platform and run it from our cloud server with best security and control over your user data & privacy. All messages and calls route from cloud server.</p>
<a target="_blank" href="/" class="btn btn-animated radius-50 btn-gray-transparent">Read More<i class="fa fa-angle-double-right pl-20"></i></a>
</div></div>
</div>
</div>
</section>

<!-- premises section end -->
