<!-- section start -->
<!-- ================ -->
<div id="why" style="margin-top: -50px; content: '';">&nbsp;</div>
<section class="section clearfix">
<div class="container">
<h3 class="mt-4">WHY <strong>MESIBO</strong>?</h3>
<div class="separator-2"></div>
<div class="row" style="min-height: 150px;">
<div class="col-lg-6">
<!-- accordion start -->
<!-- ================ -->
<div id="accordion" class="collapse-style-1 mb-4" role="tablist" aria-multiselectable="true">

{% include mesibo-card.html collapsed=false group="left" icon="fa-book" title="Tango Real-time" name="tando" content="Hello how are" %}

{% capture content_rt %}
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
{% endcapture %}

{% include mesibo-card.html collapsed=true group="left" icon="fa-bold" title="It's Real-time" name="realtime" content=content_rt %}

<div class="card">
<div class="card-header" role="tab" id="headingTwo">
<h4 class="mb-0">
<a class="collapsed" group="left" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
<i class="fa fa-leaf pr-10"></i>Send Arbitary Binary/Signaling Data
</a>
</h4>
</div>
<div id="collapseTwo" group="left" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
<div class="card-block">
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
</div>
</div>
</div>
<div class="card">
<div class="card-header" role="tab" id="headingThree">
<h4 class="mb-0">
<a class="collapsed" group="left" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
<i class="fa fa-html5 pr-10"></i>In-premise Hosting
</a>
</h4>
</div>
<div id="collapseThree" group="left" class="collapse" role="tabpanel" aria-labelledby="headingThree">
<div class="card-block">
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
</div>
</div>
</div>
<div class="card">
<div class="card-header" role="tab" id="headingFour">
<h4 class="mb-0">
<a class="collapsed" group="left" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
<i class="fa fa-leaf pr-10"></i>Career-grade Cloud Infastructure
</a>
</h4>
</div>
<div id="collapseFour" group="left" class="collapse" role="tabpanel" aria-labelledby="headingFour">
<div class="card-block">
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
</div>
</div>
</div>
<div class="card">
<div class="card-header" role="tab" id="headingFive">
<h4 class="mb-0">
<a class="collapsed" group="left" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
<i class="fa fa-life-ring pr-10"></i>20+ million online users
</a>
</h4>
</div>
<div id="collapseFive" group="left" class="collapse" role="tabpanel" aria-labelledby="headingFive">
<div class="card-block">
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
</div>
</div>
</div>
</div>
<!-- accordion end -->
</div>
<div class="col-lg-6 space-bottom">
<!-- accordion start -->
<!-- ================ -->
<div id="accordion" class="collapse-style-1 mb-4" role="tablist" aria-multiselectable="true">
<div class="card">
<div class="card-header" role="tab" id="headingOneRight">
<h4 class="mb-0">
<a data-toggle="collapse" group="right" data-parent="#accordion" href="#collapseOneRight" aria-expanded="true" aria-controls="collapseOneRight">
<i class="fa fa-bold pr-10"></i>AI &amp; Machine Learning chatbots
</a>
</h4>
</div>
<div id="collapseOneRight" group="right" class="collapse show" role="tabpanel" aria-labelledby="headingOneRight">
<div class="card-block">
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
</div>
</div>
</div>
<div class="card">
<div class="card-header" role="tab" id="headingTwoRight">
<h4 class="mb-0">
<a class="collapsed" group="right" data-toggle="collapse" data-parent="#accordion" href="#collapseTwoRight" aria-expanded="false" aria-controls="collapseTwoRight">
<i class="fa fa-leaf pr-10"></i>Ready to use UI Modules
</a>
</h4>
</div>
<div id="collapseTwoRight" group="right" class="collapse" role="tabpanel" aria-labelledby="headingTwoRight">
<div class="card-block">
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
</div>
</div>
</div>
<div class="card">
<div class="card-header" role="tab" id="headingThreeRight">
<h4 class="mb-0">
<a class="collapsed" group="right" data-toggle="collapse" data-parent="#accordion" href="#collapseThreeRight" aria-expanded="false" aria-controls="collapseThreeRight">
<i class="fa fa-html5 pr-10"></i>White-label solution
</a>
</h4>
</div>
<div id="collapseThreeRight" group="right" class="collapse" role="tabpanel" aria-labelledby="headingThreeRight">
<div class="card-block">
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
</div>
</div>
</div>
<div class="card">
<div class="card-header" role="tab" id="headingFourRight">
<h4 class="mb-0">
<a class="collapsed" group="right" data-toggle="collapse" data-parent="#accordion" href="#collapseFourRight" aria-expanded="false" aria-controls="collapseFourRight">
<i class="fa fa-life-ring pr-10"></i>Free to start
</a>
</h4>
</div>
<div id="collapseFourRight" group="right" class="collapse" role="tabpanel" aria-labelledby="headingFourRight">
<div class="card-block">
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
</div>
</div>
</div>
<div class="card">
<div class="card-header" role="tab" id="headingFiveRight">
<h4 class="mb-0">
<a class="collapsed" group="right" data-toggle="collapse" data-parent="#accordion" href="#collapseFiveRight" aria-expanded="false" aria-controls="collapseFiveRight">
<i class="fa fa-life-ring pr-10"></i>Free to start
</a>
</h4>
</div>
<div id="collapseFiveRight" group="right" class="collapse" role="tabpanel" aria-labelledby="headingFiveRight">
<div class="card-block">
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
</div>
</div>
</div>
</div>
<!-- accordion end -->
<!--
<div class="overlay-container">
<img src="images/page-about-2.jpg" alt="">
<a class="overlay-link" href="#"><i class="fa fa-link"></i></a>
</div>
-->
</div>
</div>
</div>
</section>
<!-- section end -->

