      <!-- footer top start -->
      <!-- ================ -->
      <div class="default-bg footer-top animated-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="call-to-action text-center">
                <div class="row">
                  <div class="col-lg-8">
                    <h4 class="title large_white">Get started in just 5 minutes</h4>
                    <p>No credit card, No trial period. Just sign up and start building your real-time apps now. <br/>Reach us at <a href="mailto:contact@mesibo.com"><i class="fa fa-envelope-o pr-2"></i>contact@mesibo.com</a> if you need any assistance.</p>
                  </div>
                  <div class="col-lg-4">
                    <p class="mt-3"><a target="_blank" href="/console/" class="btn btn-animated radius-50 btn-lg btn-gray-transparent">Sign In<i class="fa fa-sign-in pl-20"></i></a></p>
                    <!-- <a href="#" class="btn btn-lg btn-gray-transparent btn-animated">Learn More<i class="fa fa-arrow-right pl-20"></i></a></p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer top end -->
      <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
      <!-- ================ -->
      <footer id="footer" class="clearfix">

        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer">
          <div class="container">
            <div class="footer-inner">
              <div class="row">
                <div class="col-lg-3">
                  <div class="footer-content">
                    <div class="logo-footer"><img id="logo-footer" src="/assets/images/mesibo-logo.svg" alt=""></div>
                    <p class="mt-0 pt-0">{{ site.slogan }}</p>
                    <p>A real-time communication platform that lets you build real-time text messaging, voice and video chats in your mobile apps and websites.</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="footer-content">
                    <h2 class="title">Mesibo</h2>
                    <div class="separator-2"></div>
                    <nav>
                      <ul class="mb-20 nav flex-column list-style-icons">
                        <li class="nav-item"><a class="nav-link" href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/pricing/"><i class="fa fa-dollar"></i> Pricing</a></li>
                        <li class="nav-item"><a class="nav-link" href="/use-cases/"><i class="fa fa-lightbulb-o"></i> Use Cases</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about-us/"><i class="fa fa-users"></i> About Us</a></li>
						<li class="nav-item"><a class="nav-link" href="/career/"><i class="fa fa-graduation-cap"></i> Careers</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="footer-content">
                    <h2 class="title">Documentation</h2>
                    <div class="separator-2"></div>
                    <nav>
                      <ul class="mb-20 nav flex-column list-style-icons">
                        <li class="nav-item"><a class="nav-link" href="/documentation/" target="_blank"><i class="fa fa-book"></i> Docs Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/documentation/get-started/" target="_blank"><i class="fa fa-rocket"></i> Get Started</a></li>
                        <li class="nav-item"><a class="nav-link" href="/documentation/install/" target="_blank"><i class="fa fa-download"></i> Install Mesibo</a></li>
                        <li class="nav-item"><a class="nav-link" href="/documentation/tutorials/" target="_blank"><i class="fa fa-pencil-square-o"></i> Tutorials</a></li>
                        <li class="nav-item"><a class="nav-link" href="/documentation/faq/" target="_blank"><i class="fa fa-question"></i> FAQs</a></li>
                        <li class="nav-item"><a class="nav-link" href="/documentation/source-code/" target="_blank"><i class="fa fa-code"></i> Source Code</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="footer-content">
		  <!--
                    <h2 class="title">Find Us</h2>
                    <div class="separator-2"></div>
		    -->
                    <h2 class="title"><i class="fa fa-envelope-o pr-10"></i>Contact Us</h2>
                    <div class="separator-2"></div>
                    <ul class="list">
                      <li><a href="/sales/">Sales/Partnership</a></li>
                      <li><a href="/technical-support/">Technical Support</a></li>
                      <li><a href="/custom-solutions/">Custom Solutions</a></li>
                    </ul>
                    <ul class="social-links circle animated-effect-1">
                        <li class="twitter"><a href="https://twitter.com/mesiboapi" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li class="linkedin"><a href="https://www.linkedin.com/company/mesibo" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li class="youtube"><a href="https://www.youtube.com/channel/UCxpcg-RSf2-lK4uyysWSsKQ" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                        <li class="facebook"><a href="https://www.facebook.com/mesiboapi" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li class="github"><a href="https://github.com/mesibo/" target="_blank"><i class="fa fa-github"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .footer end -->

        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-md-8">
                  <p>Copyright © 2019 Mesibo. All rights reserved.</p>
                </div>
                <div class="col-md-4">
                  <p class="text-right">
                  <a href="/terms-of-use/">Terms &amp; Privacy Policy</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .subfooter end -->

      </footer>
      <!-- footer end -->

