<!-- banner start -->
<!-- ================ -->
<div class="banner clearfix">

<!-- slideshow start -->
<!-- ================ -->
<div class="slideshow" style="height:480px; overflow:hidden;">

<!-- slider revolution start -->
<!-- ================ -->
<div class="slider-revolution-5-container">
<div id="slider-banner-fullscreen-hero" class="slider-banner-fullscreen-hero rev_slider" data-version="5.0" style="height:480px;" >
<ul class="slides">
<!-- slide 1 start -->
<!-- ================ -->
<li class="text-center" data-transition="crossfade" data-slotamount="default" data-masterspeed="default" data-title="Slide Title">

	<!-- main image -->
	<img src="images/landing-page-2-banner.jpg" alt="slidebg1" data-bgposition="center bottom" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

	<!-- Transparent Background -->
	<div class="tp-caption default-bg"
	data-x="center"
	data-y="center"
	data-start="0"
	data-transform_in="opacity:0;s:600;e:Power2.easeInOut;"
	data-transform_out="opacity:0;s:600;s:300;"
	data-width="5000"
	data-height="5000">
	</div>

				<!-- LAYER NR. 1 -->
				<div class="tp-caption large_white tp-resizeme"
				data-x="center"
				data-y="30"
				data-voffset="50"
				data-start="100"
				data-width="90%"
				data-transform_idle="o:1;"
				data-transform_in="y:[-100%];opacity:0;s:1100;"
				data-transform_out="y:[-100%];opacity:0;s:800;">
				Quick Glance at mesibo Chat API features
				</div>

				<!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme"
                  data-x="center"
                  data-y="75"
                  data-start="100"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                  <div class="separator light"></div>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white tp-resizeme"
                  data-x="center"
                  data-y="105"
                  data-start="100"
				  data-width="94%"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Refer to our developer documentation for in-depth details on how to quickly add any or <br>all of these features in your own software, either by using our APIs or ready to use UI components
                </div>
			
			    <!-- LAYER NR. 4 -->
                <div class="tp-caption small_white"
                  data-x="-70"
                  data-y="220"
                  data-start="200"
				  data-width="200"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"><a href="#chat"><span class="icon circle"><i class="fa fa-comments-o"></i></span><br>Messaging & Group Chat</a>
                </div>

				<!-- LAYER NR. 5 -->
                <div class="tp-caption small_white"
                  data-x="160"
                  data-y="220"
                  data-start="300"
				  data-width="200"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"><a href="#calls"><span class="icon circle"><i class="fa fa-video-camera"></i></span><br>Voice & Video Call</a>
                </div>

				<!-- LAYER NR. 6 -->
                <div class="tp-caption small_white"
                  data-x="380"
                  data-y="220"
                  data-start="400"
				  data-width="250"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"><a href="#arbitrary"><span class="icon circle"><i class="fa fa-signal"></i></span><br>Send Arbitrary Binary/Signaling Data</a>
                </div>

				<!-- LAYER NR. 7 -->
                <div class="tp-caption small_white"
                  data-x="630"
                  data-y="220"
                  data-start="500"
				  data-width="200"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"><a href="#chatbots"><span class="icon circle"><i class="fa fa-reddit-alien"></i></span><br>Chatbots</a>
                </div>

				<!-- LAYER NR. 8 -->
                <div class="tp-caption small_white"
                  data-x="830"
                  data-y="220"
                  data-start="600"
				  data-width="200"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"><a href="#userinterface"><span class="icon circle"><i class="fa fa-cube"></i></span><br>UI Modules</a>
                </div>

				<!-- LAYER NR. 9 -->
                <div class="tp-caption small_white"
                  data-x="1040"
                  data-y="220"
                  data-start="700"
				  data-width="200"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"><a href="#onpremises"><span class="icon circle"><i class="fa fa-server"></i></span><br>On-Premise Deployment</a>
                </div>

				<!-- LAYER NR. 10 -->
                <div class="tp-caption small_white"
                  data-x="50"
                  data-y="370"
                  data-start="800"
				  data-width="200"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"><a href="#cloud"><span class="icon circle"><i class="fa fa-mixcloud"></i></span><br>Cloud Infrastructure</a>
                </div>

				<!-- LAYER NR. 11 -->
                <div class="tp-caption small_white"
                  data-x="260"
                  data-y="370"
                  data-start="900"
				  data-width="200"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"><a href="#analytics"><span class="icon circle"><i class="fa fa-line-chart"></i></span><br>Real-time Analytics</a>
                </div>

				<!-- LAYER NR. 12 -->
                <div class="tp-caption small_white"
                  data-x="500"
                  data-y="370"
                  data-start="1000"
				  data-width="200"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"><a href="#security"><span class="icon circle"><i class="fa fa-lock"></i></span><br>Security & Encryption</a>
                </div>

				<!-- LAYER NR. 13 -->
                <div class="tp-caption small_white"
                  data-x="730"
                  data-y="370"
                  data-start="1100"
				  data-width="200"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><a href="#moderation"><span class="icon circle"><i class="fa fa-filter"></i></span><br>Filtering & Moderation</a>
                </div>

				<!-- LAYER NR. 14 -->
                <div class="tp-caption small_white"
                  data-x="940"
                  data-y="370"
                  data-start="1200"
				  data-width="200"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><a href="#scalable"><span class="icon circle"><i class="fa fa-rocket"></i></span><br>Scalable</a>
                </div>
 
</li>
<!-- slide 1 end -->
</ul>
</div>
<div id="banner-end"></div>
</div>
<!-- slider revolution end -->

</div>
<!-- slideshow end -->

</div>
<!-- banner end -->

