
    <!-- JavaScript files placed at the end of the document so the pages load faster -->
    <!-- ================================================== -->
    <!-- Jquery and Bootstap core js files -->
    <script src="/assets/plugins/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery Revolution Slider  -->
    <script src="/assets/plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js"></script>
    <script src="/assets/plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Isotope javascript -->
    <script src="/assets/plugins/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/plugins/isotope/isotope.pkgd.min.js"></script>
    <!-- Magnific Popup javascript -->
    <script src="/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Appear javascript -->
    <script src="/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="/assets/plugins/waypoints/sticky.min.js"></script>
    <!-- Count To javascript -->
    <script src="/assets/plugins/countTo/jquery.countTo.js"></script>
    <!-- Morphext -->
    <script src="/assets/plugins/typed/typed.min.js"></script>
    <!-- Slick carousel javascript -->
    <script src="/assets/plugins/slick/slick.min.js"></script>
    <!-- Initialization of Plugins -->
    <script src="/assets/js/template.js"></script>
    <!-- Custom Scripts -->
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/pricing.js"></script>

