<!-- section start -->
<!-- ================ -->
<div class="pv-40">
<div class="container">
<h2 class="text-center mt-4">mesibo - at a glance</h2>
<div class="separator"></div>
<div class="row mt-20">
<div class="col-lg-6">
<div class="hc-item-box-2 right">
<span class="icon without-bg"><i class="text-default fa fa-arrows-alt"></i></span>
<div class="body">
<h4 class="title">In-app Messaging and Chat API</h4>
<p>
Easily add in-app messaging in your apps using Mesibo's API is as simple as selecting the destination and sending the message. You also get the status of each sent message in real-time; e.g., Sent, Delivered, Read, etc. 
</p>
<div class="separator-3"></div>
</div>
</div>
<div class="hc-item-box-2 right">
<span class="icon without-bg"><i class="text-default fa fa-bullhorn"></i></span>
<div class="body">
<h4 class="title">Group Messaging API</h4>
<p>
Create unlimited groups with unlimited group members in each group. 
</p>
<div class="separator-3"></div>
</div>
</div>
<div class="hc-item-box-2 right">
<span class="icon without-bg"><i class="text-default fa fa-umbrella"></i></span>
<div class="body">
<h4 class="title">Video and Voice Calls API</h4>
<p>Our design is with responsive in mind. Our themes are compatible with various desktop, tablet, and mobile devices.</p>
<div class="separator-3"></div>
</div>
</div>
<div class="hc-item-box-2 right">
<span class="icon without-bg"><i class="text-default fa fa-umbrella"></i></span>
<div class="body">
<h4 class="title">Ready to use UI Modules</h4>
<p>
Mesibo not only provides APIs but also offers ready-to-use UI modules for Messaging, chatbots, voice and video calls which you can customize to your needs. 
</p>
<div class="separator-3"></div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="hc-item-box-2">
<span class="icon without-bg"><i class="text-default fa fa-snowflake-o"></i></span>
<div class="body">
<h4 class="title">On-Premise Deployment</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
<div class="separator-2"></div>
</div>
</div>
<div class="hc-item-box-2">
<span class="icon without-bg"><i class="text-default fa fa-cogs"></i></span>
<div class="body">
<h4 class="title">Security and Encryption</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
<div class="separator-2"></div>
</div>
</div>
<div class="hc-item-box-2">
<span class="icon without-bg"><i class="text-default fa fa-star-o"></i></span>
<div class="body">
<h4 class="title">TBD</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
<div class="separator-2"></div>
</div>
</div>
<div class="hc-item-box-2">
<span class="icon without-bg"><i class="text-default fa fa-star-o"></i></span>
<div class="body">
<h4 class="title">Price</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
<div class="separator-2"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- section end -->
