<!-- user-interface section -->
<div id="userinterface"></div> 
<section class="pv-40">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 feature-mobile text-center">
<div class="awesome-feature-img wow fadeInLeft animated ">
<img src="/assets/images/phone-img7.png" alt="User Interface" />
</div>
</div>
<div class="col-lg-6 col-md-6 fadeIn wow animated">
<div class="single-awesome-feature fadeInRight wow animated mt-4">
<div class="single-awesome-feature-text">
<h2>Ready to use UI Modules</h2>
<div class="separator-2 clearfix"></div>
<p class="large">Also offers ready-to-use UI modules for Messaging, chatbots, voice and video calls which you can customize to your needs.</p>
<ul class="list-icons">
<li><i class="fa fa-diamond"></i> Interactive user interface and designs</li>
<li><i class="fa fa-code"></i>  Easy to integrate</li>
<li><i class="fa fa-gears"></i>  Fully customization</li>
<li><i class="fa fa-eye-slash"></i>  Control the system UI visibility</li>
<li><i class="fa fa-support"></i>  Supported on most popular platforms</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section>

<!-- user-interface section end -->