<!-- section -->
<!-- ================ -->
<div id="demoapps" style="margin-top: -30px; content: '';">&nbsp;</div>
<section class="light-gray-bg border-clear v-30">
<div class="container">
<div class="row justify-content-md-center">
<div class="col-lg-8">
<h2 class="text-center mt-4">A <strong>Demo</strong> is Worth a Thousand Words</h2>
<div class="separator"></div>
<p class="large text-center">Mesibo open-source apps demonstrate how to use Mesibo APIs and modules to develop powerful apps in no-time. </p>
<br>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-6">
<!-- <img src="images/section-image-1.png" alt=""> -->
<!-- TBD
1) on mobile, only show one
2) instead of itune/play link, use m.mesibo.co/android or /ios link, which may change depending on 
mobile or go to specified link if web is used
-->
<img src="/assets/images/phone-img6.png" alt="">
<div class="btn-group" role="group">
<a class="btn mx-0 px-0" target="_blank" href="https://itunes.apple.com/us/app/mesibo-realtime-messaging-voice-video/id1222921751"><img alt="iphone messaging app" src="assets/images/social-img/iphone-app.png"></a>
<a class="btn mx-3 px-0" target="_blank" href="https://play.google.com/store/apps/details?id=com.mesibo.mesiboapplication"><img alt="iphone messaging app" src="assets/images/social-img/android-app.png"></a>
</div>
</div>
<div class="col-lg-6">
<p>You can either try demo apps from Google Play Store or Apple appstore, <strong>OR</strong> download the entire source code from the <a href="https://mesibo.com/documentation/source-code/">GitHub</a> and build yourself!</p>
<!-- <p class="space-top">You can yourself!</p> -->

<div class="media">
<div class="d-flex pr-20">
<span class="icon circle small default-bg"><i class="fa fa-envelope"></i> </span>
</div>
<div class="media-body">
<h4 class="media-heading">One-on-one messaging and Group chat</h4>
Rich messaging (text, picture, video, audio, other files), Location sharing and many more.
</div>
</div>
<div class="media">
<div class="d-flex pr-20">
<span class="icon circle small default-bg"><i class="fa fa-video-camera"></i> </span>
</div>
<div class="media-body">
<h4 class="media-heading">Video and Voice Calls</h4>
High Quality Video and Voice calls.
</div>
</div>
<div class="media">
<div class="d-flex pr-20">
<span class="icon circle small default-bg"><i class="fa fa-pencil"></i> </span>
</div>
<div class="media-body">
<h4 class="media-heading">Presence, Message Status and Typing Indicators</h4>
Real-time presence update (For example, online status), message status (sent, delivered, read), typing etc
</div>
</div>
<div class="media">
<div class="d-flex pr-20">
<span class="icon circle small default-bg"><i class="fa fa-life-ring"></i> </span>
</div>
<div class="media-body">
<h4 class="media-heading">Push Notifications</h4>
Google and Apple push notification to enable receiving messages and calls even when app is in suspended state.
</div>
</div>
<div class="media">
<div class="d-flex pr-20">
<span class="icon circle small default-bg"><i class="fa fa-gear"></i> </span>
</div>
<div class="media-body">
<h4 class="media-heading">Whitelabel solution</h4>
The entire source code is available on GitHub for you to create your own branded solution.
</div>
</div>

<!--
<div class="btn-group" role="group">
<a class="btn" target="_blank" href="https://itunes.apple.com/us/app/mesibo-realtime-messaging-voice-video/id1222921751"><img alt="iphone messaging app" src="assets/images/social-img/iphone-app.png"></a>
<a class="btn" target="_blank" href="https://itunes.apple.com/us/app/mesibo-realtime-messaging-voice-video/id1222921751"><img alt="iphone messaging app" src="assets/images/social-img/iphone-app.png"></a>
</div>
-->

<!-- <a target="_blank" href="https://play.google.com/store/apps/details?id=com.mesibo.mesiboapplication"><img alt="android messaging app" src="assets/images/social-img/android-app.png"></a> -->
</div>
</div>
</div>
</section>
<!-- section end -->
