<!-- section -->
<!-- ================ -->
<div id="demoapps" style="margin-top: -30px; content: '';">&nbsp;</div>
<section class="light-gray-bg border-clear v-30">
<div class="container">
<div class="row justify-content-md-center">
<div class="col-lg-8">
<h2 class="text-center mt-4"><strong>Expand</strong> On-Premise Platform</h2>
<div class="separator"></div>
<p class="large text-center">
Not just messaging and calls, you can add your own features and functionalities to Mesibo - powerful chatbots, filters, integrate with Machine learning and Scientific computing backend such as Tensorflow, Dialogflow, Matlab, etc. and much more. 
</p>
<br>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-6">
<!-- <img src="images/section-image-1.png" alt=""> -->
<!-- TBD
1) on mobile, only show one
2) instead of itune/play link, use m.mesibo.co/android or /ios link, which may change depending on 
mobile or go to specified link if web is used
-->
<img src="/images/loadable-modules.png" alt="">
&nbsp; <a href="/documentation/on-premise/loadable-modules/" class="btn btn-default-transparent btn-animation btn-animation--slide-horizontal btn-lg"><i class="fa fa-book pr-2"></i>Loadable Modules Documentation</a>
</div>
<div class="col-lg-6">
<p> <a href="/documentation/on-premise/loadable-modules/">Get Started </a> with loadable modules using our ready-to-use open source modules!</p>
<!-- <p class="space-top">You can yourself!</p> -->

<div class="media">
<div class="d-flex pr-20">
<span class="icon circle small default-bg"><i class="fa fa-comment-o"></i> </span>
</div>
<div class="media-body">
<h4 class="media-heading">Chatbots </h4>
Build powerful Chatbots and conversational interfaces by analyzing messages using various AI and machine learning tools like Tensorflow, Dialogflow, etc. and responding in real-time
</div>
</div>
<div class="media">
<div class="d-flex pr-20">
<span class="icon circle small default-bg"><i class="fa fa-flask"></i> </span>
</div>
<div class="media-body">
<h4 class="media-heading">Filters</h4>
Monitor and moderate all the messages between your users (for example, to drop messages containing profanity)
</div>
</div>
<div class="media">
<div class="d-flex pr-20">
<span class="icon circle small default-bg"><i class="fa fa-globe"></i> </span>
</div>
<div class="media-body">
<h4 class="media-heading">Translation</h4>
Translate each message before sending it to destination using online services like Google Translate, IBM Watson, etc.
</div>
</div>
<div class="media">
<div class="d-flex pr-20">
<span class="icon circle small default-bg"><i class="fa fa-file-text-o"></i> </span>
</div>
<div class="media-body">
<h4 class="media-heading">Scripting</h4>
Perform custom scripting in your backend with Javascript, Shell, etc.
</div>
</div>
<div class="media">
<div class="d-flex pr-20">
<span class="icon circle small default-bg"><i class="fa fa-github"></i> </span>
</div>
<div class="media-body">
<h4 class="media-heading">Open Source</h4>
Entire source code of all the sample modules are available on <a href="https://github.com/mesibo/onpremise-loadable-modules">GitHub </a>to quickly get you started.
</div>
</div>

<!--
<div class="btn-group" role="group">
<a class="btn" target="_blank" href="https://itunes.apple.com/us/app/mesibo-realtime-messaging-voice-video/id1222921751"><img alt="iphone messaging app" src="assets/images/social-img/iphone-app.png"></a>
<a class="btn" target="_blank" href="https://itunes.apple.com/us/app/mesibo-realtime-messaging-voice-video/id1222921751"><img alt="iphone messaging app" src="assets/images/social-img/iphone-app.png"></a>
</div>
-->

<!-- <a target="_blank" href="https://play.google.com/store/apps/details?id=com.mesibo.mesiboapplication"><img alt="android messaging app" src="assets/images/social-img/android-app.png"></a> -->
</div>
</div>
</div>
</section>
<!-- section end -->
