<div id="what" style="margin-top: -50px; content: '';">&nbsp;</div>

<!-- section start -->
<!-- ================ -->
<section class="section light-gray-bg pv-30 padding-bottom-clear clearfix">
<div class="container">
<div class="row justify-content-md-center">
<div class="col-md-8">
<h2 class="text-center mt-4">What is <strong>Mesibo</strong>?</h2>
<div class="separator"></div>
<p class="large text-center">Mesibo is a real-time communication platform that software developers trust to build exceptional conversational capabilities of software using mesibo’s powerful chat API and SDK </p>
</div>
</div>
<div class="row">
<div class="col-lg-4">
<div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
<span class="icon without-bg"><i class="fa text-default fa-heart-o"></i></span>
<div class="body">
<h4 class="title">Messaging, Voice &amp; Video calls</h4>
<p class="what-box">In just a few lines of code, your app will have real-time messaging, voice and video calls.<br/><br/>Mesibo uses best in class message switching technology and codecs to ensure low latency delivery and best available call quality.</p>
<a href="#why">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
<span class="icon without-bg"><i class="fa text-default fa-connectdevelop"></i></span>
<div class="body">
<h4 class="title">Scalable &amp; Low Latency</h4>
<p class="what-box">Mesibo's carrier-grade platform supports millions of simulateneous connections at low latency and high reliability.<br/><br/>You can scale your apps to millions of users from the day one.</p>
<a href="#why">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
<span class="icon without-bg"><i class="fa text-default fa fa-gift"></i></span>
<div class="body">
<h4 class="title">Free to start</h4>
<p class="what-box">Mesibo is completely free for all - no strings attached.<br/><br/>You can use all the mesibo features absolutely free irrespective of free or commercial usage. You only pay if your usage exceeds free limits.</p>
<a href="pricing.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>
</div>
</div>
</div>

</div>
<div class="row justify-content-md-center">
<div class="col-md-12">
<p class="large text-center">Mesibo supports almost all popular platforms and languages for you to quickly build your applications. </p>
</div>
</div>
</div>
</section>
<!-- section end -->

