<!-- messaging section -->
<div id="chat"></div>
<section class="pv-40">
<div class="container">
<h2 class="text-center mt-3">Messaging & Group Chat</h2>
<div class="separator"></div>
<p class="large text-center" style="margin-bottom: 30px;">
Build your own UI or use our ready to use Chat API. In either case, mesibo makes it a breeze to add rich messaging and call features.
</p>
<div class="row">
<div class="col-lg-6 px-0 mx-0">
<div class="ph-20 hc-item-box hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
<img src="/assets/images/chat-m.png" alt="One on One Messaging">
</div>
</div>
<div class="col-lg-6 px-0 mx-0">
<div class="ph-20 hc-item-box hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
<br><br> 
<ul class="list-icons mt-3">
<li><i class="fa fa-comments"></i> 1 on 1 Messaging</li>
<li><i class="fa fa-group"></i> Group Chat</li>
<li><i class="fa fa-paperclip"></i> Send Doc, Image, Audio, Video</li>
<li><i class="fa fa-map-marker"></i> Geo-tagging</li>
<li><i class="fa fa-keyboard-o"></i> Typing Indicator</li>
<li><i class="fa fa-check"></i> Read Receipts & Delivery Status</li>
<li><i class="fa fa-mail-forward"></i> Message Forwarding</li>
<li><i class="fa fa-vcard-o"></i> Online Status</li>
<li><i class="fa fa-bullhorn"></i> Broadcast Text and Media Messages</li>
<li><i class="fa fa-toggle-down"></i> Push Notification</li>
</ul>
</div>
</div>
</div> <!-- row end -->
</div>
</section>

<!-- messaging section end-->