<div id="header" class="{% if page.landing == true %}sticky transparent{% endif %} clearfix">
<header {% if page.landing == true %}class="margin-bottom-60"{% endif %} id="topNav">
<div class="{% if page.landing == true %}header-main{% else %}container{% endif %}">

<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
<i class="fa fa-bars"></i>
</button>

<a class="logo pull-left" href="/">
{% if page.landing == true %}<img src="/assets/images/mesibo-bg-green.png" alt="mesibo logo" />{% endif %}
<img src="/assets/images/mesibo-bg-white.png" alt="mesibo logo" />
</a>

{% if page.landing == true %}<div id="submenu">{% endif %}
<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
<nav class="nav-main">

<ul id="topMain" class="nav nav-pills nav-main">
<li class="dropdown">
<a class="dropdown" href="/chat-api-features/">
Features
</a>
</li>
<li class="dropdown">
<a class="dropdown" href="/pricing/">
Pricing
</a>
</li>
<li class="dropdown">
<a class="dropdown-toggle" href="#">
Use Cases
</a>
<ul class="dropdown-menu">
<li class="dropdown">
<a href="/use-cases/#communication">Communication</a>
</li>

<li class="dropdown">
<a href="/use-cases/#enterpriseteam">Enterprise &amp; Team Communication</a>
</li>

<li class="dropdown">
<a href="/use-cases/#webrtc">WebRTC</a>
</li>

<li class="dropdown">
<a href="/use-cases/#aiinterface">AI Interface</a>
</li>

<li class="dropdown">
<a href="/use-cases/#scsupport">Sales &amp; Customer support</a>
</li>

<li class="dropdown">
<a href="/use-cases/#datingmatrimonial">Dating &amp; Matrimonial</a>
</li>

<li class="dropdown">
<a href="/use-cases/#anonymouscommunication">Anonymous Communication</a>
</li>

<li class="dropdown">
<a href="/use-cases/#gaming">Gaming</a>
</li>

<li class="dropdown">
<a href="/use-cases/#education">Education</a>
</li>

<li class="dropdown">
<a href="/use-cases/#healthcare">Healthcare</a>
</li>

<li class="dropdown">
<a href="/use-cases/#bankingfservices">Banking &amp; Financial Services</a>
</li>

<li class="dropdown">
<a href="/use-cases/#ecommerce">E-commerce</a>
</li>

<li class="dropdown">
<a href="/use-cases/#mediaentertainment">Media &amp; Entertainment</a>
</li>

<li class="dropdown">
<a href="/use-cases/#sports">Sports</a>
</li>
</ul>
</li>
<li class="dropdown">
<a class="dropdown-toggle" href="#">
Developer
</a>
<ul class="dropdown-menu">
<li class="dropdown">
<a href="/documentation/" target="_blank">Documentation</a>
</li>

<li class="dropdown">
<a href="/documentation/tutorials/" target="_blank">Tutorials</a>
</li>

<li class="dropdown">
<a href="/documentation/source-code/" target="_blank">Source Code</a>
</li>

<li class="dropdown">
<a href="/documentation/faq/" target="_blank">FAQ</a>
</li>
</ul>
</li>

<li class="dropdown">
<a class="dropdown" href="/help/">
Help
</a>
</li>

<li class="dropdown">
<a href="/console/#/login" class="hidden-lg hidden-md">
Sign In
</a>
<a href="/console/#/login" class="hidden-xs hidden-sm">
<span class='btn login'>
Sign In
</span>
</a>
</li>

</ul>

</nav>
</div>
{% if page.landing == true %}</div>{% endif %}
</div>
</header>
</div>		

