<!--Breadcrumb Start -->
<header id="page-header">
   <h1>Support</h1>
   <ol class="breadcrumb">
      <li><a href="#dashboard">Dashboard</a></li>
      <li class="active">Support</li>
   </ol>
</header>
<!-- Breadcrumb End -->	 
<!--Support Content Start-->
<div id="content" class="padding-20">
   <div class="row">
      <div class="col-md-12">
         <div class="panel panel-default">
            <div class="panel-heading panel-heading-transparent">
               <strong>SUPPORT REQUEST</strong>
            </div>
            <div class="panel-body">
			
               <div class="col-md-6">
			   <h5>Have you read our <a href="../faq/general.html" target="_blank">FAQs?</a> It might have answer to your question!</h5>
                  <div class="box-border padding-20">
                     <form name="contact" class="validate" action="php/contact.php" method="post" enctype="multipart/form-data" >
                        <fieldset>
                           <div class="row">
                              <div class="form-group">
                                 <div class="col-md-12 col-sm-12">
                                    <label>What is your query about &nbsp;? *</label>
                                    <div>
                                       <select id="query" name="query" class="form-control pointer" ng-model="appdata.query" required>
                                          <option value="">--- Select ---</option>
                                          <option value="0">Custom Requirement</option>
                                          <option value="1">Business Proposal</option>
                                          <option value="2" >Service Outage</option>
                                          <option value="3" >Technical Support</option>
                                          <option value="4">Other</option>
                                       </select>
                                       <i class="fancy-arrow"></i>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div id="discount" class="row" style="display:block;">
                              <div class="form-group">
                                 <div class="col-md-12 col-sm-12 margin-bottom-20">
                                    <label>Subject *</label>
                                    <input type="text" ng-model="appdata.subject" value="" class="form-control required">
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="col-md-12 col-sm-12 margin-bottom-20">
                                    <label>Message *</label>
                                    <textarea  ng-model="appdata.message" rows="4" class="form-control required height-150"></textarea>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="col-md-12 col-sm-12 margin-bottom-20">
                                    <label>
                                    File Attachment 
                                    </label>
                                    <div class="fancy-file-upload fancy-file-primary required">
                                       <i class="fa fa-upload"></i>
                                       <input type="file" class="form-control required" name="contact[attachment]" onchange="jQuery(this).next('input').val(this.value);" />
                                       <input type="text" class="form-control required" placeholder="no file selected" readonly="" />
                                       <span class="button">Choose File</span>
                                    </div>
                                    <small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="col-md-12">	
                                    <button name="action" type="submit" class="btn btn-primary opt panel_colapse" ng-disabled="appdata.subject.length < 2 || appdata.message.length < 2 || support.$invalid;">SUBMIT</button>									 
                                 </div>
                              </div>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="col-md-6">
                     <h2 class="padding-top-20"> Alternate Way!</h2>
                  </div>
                  <div class="col-md-6"><a target="_blank" href="https://stackoverflow.com/"><img class="img-responsive" src="assets/images/stack-overflow-logo.png"></a></div>
                  <div class="col-md-12">
                     <p class="nomargin-bottom">We use the popular programming Q&amp;A website Stack Overflow to field technical questions about the Mesibo API for Android, iOS and Web services. Stack Overflow is a collaboratively-edited question and answer site for programmers.</p>
                  </div>
                  <div class="col-md-12">
                     <p>The site is not run by Mesibo, but you can sign in using your Mesibo account. It's a great place to ask technical questions about developing and maintaining your app. Members of the Mesibo api and Mesibo api APIs team monitor several Mesibo api and Mesibo api related tags on Stack Overflow. You can look for Mesibo api API for Android-specific topics by adding Mesibo-places-api+android. You can look for Mesibo api APIs topics by adding Mesibo-maps to your search query</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Support Content End -->