<!-- Breadcrumb Start -->
<header id="page-header">
   <h1>Edit Group</h1>
   <ol class="breadcrumb">
      <li><a href="#dashboard">Dashboard</a></li>
      <li><a href="#appsettings/{{group.app.name}}">{{user.app.name}}</a></li>
      <li><a href="#appsettings/{{user.app.name}}">App Settings</a></li>
      <li><a href="#appsettings/{{user.app.name}}/groups">Groups</a></li>
      <li class="active"><strong>{{user.group.name}}</strong></li>
   </ol>
</header>
<!-- Breadcrumb End -->
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body ng-app="">
<input type="radio" ng-checked="true" id="notFraudulentRadio" name="actionSelector" value="cleared" ng-model="selectedValue" /><label for="notFraudulentRadio"> members</label><br />

<input type="radio" id="isFraudulentRadio" name="actionSelector" value="fraudulent" ng-model="selectedValue"/><label for="isFraudulentRadio"> selected</label><br />

<input type="radio" id="markReviewed" name="actionSelector" value="reviewed" ng-model="selectedValue"/><label for="markReviewed"> anyone</label>
  <br>
 <br />

 <input type="checkbox" id="highVolumeCustomer" ng-model="highVolumeCustomer" ng-disabled="selectedValue === 'cleared'" /><label for="highVolumeCustomer"> can send message</label><br />
  
 <input type="checkbox" id="highVolumeCustomer" ng-model="highVolumeCustomer" ng-disabled="selectedValue === 'cleared'" /><label for="highVolumeCustomer"> can send message</label><br /><br />
 
</body>
</html>