<div style="background:#00868b; height:100%">
   <div class="padding-15">
      <div class="login-box">
         <div class="dashboard-logo">
            <a href="https://mesibo.com"><img src="assets/images/rectangle_logo_white.png" alt="Mesibo logo" /></a>
         </div>
         <!-- password form -->
         <form class="sky-form boxed " ng-controller="loginController">
            <header><i class="fa fa-users"></i> Forgot Password</header>
            <fieldset>
               <section>
                  <label class="label">E-mail</label>
                  <label class="input">
                  <i class="icon-append fa fa-envelope"></i>
                  <input ng-model="appdata.email" name="email" type="email" placeholder="Email address">
                  <span class="tooltip tooltip-top-right">Type your Email and we will email you an OTP to reset your password</span>
                  </label>
                  <a href="#login">Back to Login</a>
               </section>
            </fieldset>
            <footer>
               <button ng-click="doResetPassword();" title="Reset Password" ng-disabled="myform.email.$invalid || !validemail()" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-refresh"></i> Reset Passsword</button>
            </footer>
         </form>
         <!-- password form -->
         <p style="color:#fff; text-align:center;">
            We will send you an OTP on your e-mail address.
         </p>
      </div>
   </div>
</div>
