<!-- Mobile Button -->
<button id="mobileMenuBtn"></button>
<!-- Logo -->
<span class="logo pull-left">
<img src="assets/images/logo_light.png" alt="admin panel" height="35" />
</span>
<nav>
   <!-- OPTIONS LIST -->
   <ul class="nav pull-right" ng-controller="headerController">
      <!-- USER OPTIONS -->
       <li class="dropdown pull-left" uib-dropdown>
                     <a uib-dropdown-toggle class="dropdown-toggle" data-hover="dropdown" data-close-others="true">
                     <img class="user-avatar" alt="" src="{{gravatarurl}}" height="34" />
                     <span class="user-name">
                     <span class="hidden-xs">
						{{user.name}} <i class="fa fa-angle-down"></i>
                     </span>
                     </span>
                     </a>
                     <ul class="dropdown-menu hold-on-click">
                        <li>
                           <!-- settings -->
                           <a href="#account"><i class="fa fa-cogs"></i> Account</a>
                        </li>
                        <li>
                           <!-- logout -->
                           <a ng-click="logout()"><i class="fa fa-power-off"></i> Log Out</a>
                        </li>
                     </ul>
                  </li>
      <!-- USER OPTIONS -->
   </ul>
   <!-- OPTIONS LIST -->
</nav>
