<!-- Breadcrumb Start -->
<header id="page-header">
   <h1>Payment Failed</h1>
   <ol class="breadcrumb">
      <li><a href="#dashboard">Dashboard</a></li>
      <li><a href="#account">My Account</a></li>
      <li class="active">Payment</li>
   </ol>
</header>
<!-- Breadcrumb End -->
<!-- Thanks Start -->
<div id="content" class="padding-20">
   <div class="row">
      <div class="col-md-12">
         <div class="panel panel-default">
            <div class="panel-body text-center min-height-600 padding-40">
               <h1 class="size-25 nomargin"> Oops..! Your payment has been failed.</h1>
               <h5 class="nomargin padding-top-10">Make sure you have entered correct payment information.</h5>
               <a href="#payment"><button type="submit" class="btn btn-primary margin-top-30">TRY AGAIN</button></a>
			   
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Thanks End -->