<!-- Breadcrumb Start -->
<header id="page-header">
   <h1>Payment Successful</h1>
   <ol class="breadcrumb">
      <li><a href="#dashboard">Dashboard</a></li>
      <li><a href="#account">My Account</a></li>
      <li class="active">Payment</li>
   </ol>
</header>
<!-- Breadcrumb End -->
<!-- Thanks Start -->
<div id="content" class="padding-20">
   <div class="row">
      <div class="col-md-12">
         <div class="panel panel-default">
            <div class="panel-body text-center min-height-600 padding-40">
               <h1 class="size-25 nomargin"> Thank You for Your Payment.</h1>
                <h5 class="nomargin padding-top-10">Your credit card statment will show payment to <strong>Plurant Systems LLP</strong> or <strong>TringMe</strong>.</h5>
               <a href="#account"><button type="submit" class="btn btn-primary margin-top-30">Go to My Account</button></a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Thanks End -->