 <div style="background:#00868b; height:100%" ng-controller="loginController">   
	<div class="padding-15">
        <div class="login-box">
            <div class="dashboard-logo">
                <a href="https://mesibo.com"><img src="assets/images/rectangle_logo_white.png" alt="mesibo logo" /></a>
            </div>
            <!-- registration form -->
            <form class="sky-form boxed" name="myform">
                <header><i class="fa fa-users"></i> Create Account</header>
                <fieldset>
				   <section>                    
					<label class="input">
					<i class="icon-append fa fa-user"></i>
						<input ng-model="appdata.name" name="name" type="name" placeholder="Name" />
					<b class="tooltip tooltip-bottom-right">Your full name</b>
					</label>                      
				 
                    <label class="input">
                        <i class="icon-append fa fa-envelope"></i>
                        <input ng-model="appdata.email" name="email" type="email" placeholder="Email address">
                        <b class="tooltip tooltip-bottom-right">Your valid email address</b>
                    </label>				 			  
                    <label class="input">
                        <i class="icon-append fa fa-lock"></i>
                        <input ng-model="appdata.password" name="password" type="password" placeholder="Password">
                        <b class="tooltip tooltip-bottom-right">Minimum 6 characters</b>
                    </label>                  
				  <hr />
                   <section>	
                    <div class="margin-top20">
                        <label class="checkbox nomargin">
                            <input class="checked-agree" type="checkbox" name="checkbox" ng-model="termsagree"><i></i>I agree to the <a href="../terms-of-use.html">Terms of Service</a></label>
                    </div>
				  </section> 	
                    <p style="color:#FF0000; text-align:center;" ng-show="appdata.error !== ''">
						{{appdata.error}}
                    </p>
				</fieldset>
                <footer>
                    <button ng-click="dosignup();" title="Register " ng-disabled="myform.email.$invalid || myform.password.$invalid || myform.password.$invalid || appdata.password.length < 6 || myform.name.$invalid || appdata.name.length < 2 || !validemail() || !termsagree" class="btn btn-primary pull-right"><i class="fa fa-check"></i> Create Account</button>
                    <div class="forgot-password pull-left">
                        <p style="margin:0; color:#999; font-weight:bold;">Already Registered?</p>
                        <a href="#login"><b>Sign In Now</b></a>
                    </div>
                </footer>
            </form>
            <!-- /registration form -->
        </div>
  </div>
  </div>
